<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Badge Poser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Flat and Clean.">
    <meta name="author" content="Jenil Gogari">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">

</head>

<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">


<div id="container" class="container-narrow">

    <div class="jumbotron">
        <h1>Badge Poser</h1>
        <p class="lead">Pimp your README!</p>
        <p class="lead">
            <a target="_blank" href="http://travis-ci.org/PUGX/badge-poser"><img src="https://secure.travis-ci.org/PUGX/badge-poser.png" /></a>
        </p>
    </div>

    <div class="row-fluid bundles">
        <div class="span12">
            <article>
                <h3 class="centered-content"><strong>Be a poser!</strong></h3>
                <p>
                    Use shields for you <a href="https://packagist.org">packagist.org</a> repository, that shows how many times your project has been downloaded from Packagist.org or its latest stable version.
                </p>
                <hr class="styled">
                <h3 class="centered-content">How to use Badge Poser</h3>
                <form id="generate-form" action="{{ url('pugx_snippet_all') }}" class="form-inline">
                  <input type="text" name="username" class="input-small" placeholder="username">
                  /
                  <input type="text" name="repository" class="input" placeholder="Repo name">
                  <button id="generate" class="btn">Generate</button>
                </form>
                <small>put the following snippets in your README:</small>
                <div>
                    <h4>Total downloads <img class="pull-right" id="total_img" src="https://poser.pugx.org/symfony/symfony/d/total.png"></h4>
                    <pre id="total_markdown" class="prettyprint">[![Total Downloads](https://poser.pugx.org/symfony/symfony/d/total.png)](https://packagist.org/packages/symfony/symfony)</pre>
                </div>
                <div>
                    <h4>Monthly downloads <img class="pull-right" id="monthly_img" src="https://poser.pugx.org/symfony/symfony/d/monthly.png"></h4>
                    <pre id="monthly_markdown" class="prettyprint">[![Monthly Downloads](https://poser.pugx.org/symfony/symfony/d/monthly.png)](https://packagist.org/packages/symfony/symfony)</pre>
                </div>
                <div>
                    <h4>Daily downloads <img class="pull-right" id="daily_img" src="https://poser.pugx.org/symfony/symfony/d/daily.png"></h4>
                    <pre id="daily_markdown" class="prettyprint">[![Daily Downloads](https://poser.pugx.org/symfony/symfony/d/daily.png)](https://packagist.org/packages/symfony/symfony)</pre>
                </div>
                <div>
                    <h4>Latest Stable Version <img class="pull-right" id="latest_stable_version_img" src="https://poser.pugx.org/symfony/symfony/version.png"></h4>
                    <pre id="latest_stable_version_markdown" class="prettyprint">[![Latest Stable Version](https://poser.pugx.org/symfony/symfony/version.png)](https://packagist.org/packages/symfony/symfony)</pre>
                </div>
                <div>
                    <h4>Latest Unstable Version <img class="pull-right" id="latest_unstable_version_img" src="https://poser.pugx.org/symfony/symfony/v/unstable.png"></h4>
                    <pre id="latest_unstable_version_markdown" class="prettyprint">[![Latest Unstable Version](https://poser.pugx.org/symfony/symfony/v/unstable.png)](https://packagist.org/packages/symfony/symfony)</pre>
                </div>

            </article>
        </div>
    </div>

    <hr>

    <div class="footer">
    </div>

</div>

    <div class="footer">
    Badge Poser is a <a href="http://pugx.github.io" target="_blank">PUGX</a> initiative.
    </div>

</div>


<a target="_blank" href="https://github.com/PUGX/badge-poser"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ asset('js/jquery-2.0.2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/snippet.js') }}"></script>

</body>
</html>
